<h2>Saludo</h2>
<div class="form-group">
  <label for="nombre">Di tu nombre</label>
  <input type="text" class="form-control" 
    name="nombre" id="nombre" placeholder=""
    [(ngModel)] = 'nombre'>
<!-- [value]='nombre' (input)="nombre =  $event.target.value" -->

</div>
<button type="button" 
  class="btn btn-primary" (click)="onBorrar($event)">Borrar</button>
<div class="mt-3">
  <p>Hola {{ nombre }}</p>
</div>
<div class="mt-3">
  <h3>Expresiones</h3>
  <p>Se peden hace operaciones aritméticas</p>
  <p>La suma de 23 y 34 es {{23+34}}</p>
  <p>Se pueden usar metodos de las variables</p>
  <p>La Inicial del nombre elegido es {{ nombre.substr(0,1).toUpperCase() }}</p>
  <p>Se puede usar el operador ternario</p>
  <p>{{ (nombre==='amigo')? 'Escribe un nombre': ''}}</p>
</div>