<div class="container">
  <div class="row">
    <dvt-post class="col" 
      autor="Alejandro Cerezo" 
      titulo="Proyección de contenido en Angular">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi sequi voluptas repellendus perspiciatis, harum iure aliquam fugiat tempora tempore eum voluptates maxime non sapiente mollitia unde itaque necessitatibus hic.</p>
      <p>Molestias, dolor veritatis voluptate dignissimos minima dolorum ex repudiandae facere nemo, aspernatur animi soluta ipsam, possimus blanditiis odio dicta! Corrupti placeat eveniet pariatur suscipit ex accusamus, quisquam perferendis voluptatem sint.</p>
      <p>Quibusdam velit delectus accusamus ad animi quaerat harum voluptate dolore voluptatem! Alias explicabo recusandae, accusantium a quam mollitia est nobis ratione vero ipsam ducimus id officiis maiores tempora qui doloremque?</p>
      <p>Error modi ipsa similique nostrum dolore eius rerum atque eligendi ea, explicabo rem! Dolore commodi molestias, nostrum voluptatem quisquam fuga beatae! Iste eos similique reprehenderit eum itaque nisi officia pariatur.</p>
      <p>Nam expedita id nobis, libero laudantium nihil repellat autem veniam obcaecati perspiciatis minus est reiciendis laborum doloremque ab sapiente. Atque incidunt inventore fuga architecto deleniti porro dolore quos, dolor aspernatur!</p>
    </dvt-post>
  </div>
</div>